PORT="your Port"
MONGO_URI="Your mongo URI"
CLOUDINARY_NAME="Your Cloudinary Name"
CLOUDINARY_API_KEY="Your Cloudinary API KEY"
CLOUDINARY_SECRET_KEY="Your Cloudinnary secret KEY"
JWT_SECRET="your jwt secret"